.dash-header {
  background-color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
  border-radius: 10px;
}
